[SectionServer]
IPAddress = 10.10.9.137
Port = 5432
SshUsername = hattt
SshPassword = 123456
UseSSH = 0

[SectionDatabase]
DatabaseName = mimic
DatabaseUsername = postgres
DatabasePassword =
SearchPath = mimiciii